.element {
    width: 282px;
    background-color: white;
    border-radius: 10px;
    border: 1px black solid;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 282px 79px;
}