.popup__pic-subtitle {
    font-family: Inter, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 15px;
    color: #FFFFFF;
    grid-row: 3;
    grid-column: 1;
}