.popup__field {
    margin-bottom: 30px;
    width: 358px;
    border:0;
    box-sizing: border-box;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    background-color: transparent;
    font-family: Inter, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    padding-bottom: 9px;
}

.popup__field:focus {
    outline: none;
}

@media (max-width: 600px) {
    .popup__field {
        width: 238px;
    }
}